# CODEOWNERS documentation : https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners
#
# ==================
# Android SDK stuff
# ==================
# Android team will be the default owners for everything in repo.
* @ContentSquare/android